// start /components/news.detail/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'news.detail'
else
  - var componentsArray = [ 'news.detail' ]

.b-news-detail.ph-block

  .ph

    .ph__title
    .ph__text
      div
      div
      div
      div
      div

  .ph-content

    h1 Передаче квартир в домах по адресам: г. Звенигород, р-н Восточный, мкр. 2,3, корпуса 6, 9, 10 и 13
    
    p.b-lead Стройпромавтоматика замыкает в себе абсолютно полный цикл Девелопера: от планирования развития сбалансированных территорий, до реализации недвижимости и управления объектами собственной управляющей компанией.
    
    p Компания обладает самодостаточно почти полным спектром собственного производства строительных материалов; владеет необходимым парком строительной техники и средствами малой механизации; укомплектовано высококлассными.
    
    hr.hr--xl
    
    blockquote Привлекая собственные средства финансирования в развитие проектов, осуществляя собственное управление финансовыми потоками и планирование бюджетами, развивая собственные сети инженерной инфраструктуры и возводя собственные теплоэнергетические центры для своих жилых комплексов добилось максимального снижения инвестиционной стоимости (удельной цены) единицы строительства.

    hr.hr--xl

    include ../../modules/pagination/back
    



      

// end /components/news.detail/