extends ../../layouts/main

block vars
  - var page = 'page-form-flat'
  - var authorized = 'true'

block title
  title Форма бронирования квартиры | spa

block content

  hr.hr--lg
  
  include ../../components/form.flat/template