// start /components/flat.detail/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'flat.detail'
else
  - var componentsArray = [ 'flat.detail' ]

.b-flat-detail.ph-block

  .ph
  
    .container-lg
    
      .ph__h1
    
      .ph__wrapper
      
        .ph__img
        .ph__text
          div
          div
          div
          div
          div

  .ph-content

    .container-lg
    
      h1 Студия 30,3 м2 в ЖК Некрасовский
        
      hr.hr--lg
      
      .b-flat-detail__body
      
        .row
          
          .col-12.col-md-6
          
            link( rel="stylesheet", href="/template/css/swiper.min.css" )
            script( src="/template/js/swiper.min.js" )
            
            .swiper-container( data-tab="plan" )
              .swiper-wrapper
                .swiper-slide
                  .b-flat-detail__img( style="background-image: url( '/upload/flats/1.jpg' );" alt="" )
                .swiper-slide
                  .b-flat-detail__img( style="background-image: url( '/upload/flats/2.jpg' );" alt="" )
                .swiper-slide
                  .b-flat-detail__img( style="background-image: url( '/upload/flats/3.jpg' );" alt="" )
              .swiper-button-prev
              .swiper-button-next
              .swiper-pagination
            
            .swiper-container( data-tab="floor" )
              .swiper-wrapper
                .swiper-slide
                  .b-flat-detail__img( style="background-image: url( '/upload/flats/1.jpg' );" alt="" )
                .swiper-slide
                  .b-flat-detail__img( style="background-image: url( '/upload/flats/2.jpg' );" alt="" )
                .swiper-slide
                  .b-flat-detail__img( style="background-image: url( '/upload/flats/3.jpg' );" alt="" )
              .swiper-button-prev
              .swiper-button-next
              .swiper-pagination
              
            hr.hr--lg
              
            .b-flat-detail__galleries-switch
              a.active( href="" data-tab="plan" ) Планировка
              a( href="" data-tab="floor" ) Этаж
              
            hr
            
          
          .col-12.col-md-6
          
            .b-flat-detail__info
              | <span>Проект:</span> <a href="/pages/project-detail/">ЖК Некрасовский</a>
              br
              | <span>Срок сдачи:</span> 3 кв. 2022 г.
              br
              | <span>Корпус:</span> 3
              br
              | <span>Секция:</span> 1
              br
              | <span>Этаж:</span> 4
              br
              | <span>Комнат:</span> 1
              br
              | <span>Санузлов:</span> 1
              br
              | <span>Вид:</span> во двор
              
            hr.hr--line
            hr.hr--sm
            
            .b-flat-detail__price.text-center 5 600 000 &#8381;
            
            hr.hr--sm
            
            .b-flat-detail__buttons.text-center
              a.btn.btn-primary( href="" ) Забронировать
              a.btn.btn-outline-primary( href="" ) Записаться на просмотр
              
            hr
              
            .b-flat-detail__hypothec
              .b-flat-detail__hypothec-icon( style="background-image:url( '/upload/sber-icon.png' );" )
              span В ипотеку от 9 273 руб./мес. <a href="">Рассчитать</a>
              
            hr.hr--xl.hr--line
            hr.hr--sm
            
            .b-flat-detail__print-block
              a.b-flat-detail__print( href="" )
                span.b-flat-detail__print-icon( style="background-image:url( '/upload/print-icon.svg' );" )
                span Распечатать
              .b-flat-detail__social
                script( src="https://yastatic.net/share2/share.js" )
                .ya-share2( data-curtain data-shape="round" data-services="collections,vkontakte,facebook,odnoklassniki,telegram,viber,whatsapp,skype" )
              
            

// end /components/flat.detail/