.b-float-label

  input#password( type="password" )
  label( for="password" ) Password
  
.b-float-label

  input#name( type="text" value="John" )
  label.active( for="name" ) Name
  
.b-float-label

  textarea#textarea
  label( for="textarea" ) Message
  
.b-float-label

  textarea#textarea Send you
  label.active( for="textarea" ) Message

