@import '../../styl/component-include.styl'

.b-float-label
  position relative
  
  input:not([type=checkbox]),
  input:not([type=radio]),
  textarea
  
    background-color: $line-color;
    border: none;
    border-radius: 3px;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: $16px;
    margin: 0 0 8px 0;
    padding: 0 15px;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
    
    &.validate+label
      width: 100%
    
    &:focus:not([readonly])
      border-bottom: 0;
      box-shadow: none;
    
      &+label
        transform( translateY(-22px))
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0
    
  label
    color: #2b2b2b;
    position: absolute;
    top: 0;
    left: 15px;
    font-size: $11px;
    cursor: text;
    -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    text-align: initial;
    transform( translateY(1rem))

    &:not(.label-icon).active
      transform( translateY(-22px))
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0

  &.invalid

    input:not([type=checkbox]),
    input:not([type=radio]),
    textarea
      background-color: #ffe5e5

    input[type=text]:focus:not([readonly])+label,
    input[type=tel]:focus:not([readonly])+label,
    label
      color: #d62626;
