@import '../../styl/component-include.styl'

.b-component

  &.b-ph-block
    
    &.i-ph-animated
      
      .b-ph-content
        position static
        width auto
        opacity 1
        
      .b-ph
        position absolute
        top 0
        left 0
        opacity 0
        z-index -1
    
.b-component
  
  img
    width 100%