// start /components/bitrix-panel/

//- push style and script file to the end of the page
block components-array
  if componentsArray
    - componentsArray[ componentsArray.length ] = 'component'
  else
    - var componentsArray = [ 'component' ]
  
.b-component

// end /components/bitrix-panel/