body
  background #fff
  font-family 'Roboto', sans-serif
  font-size 16px
  font-weight normal
  color #333

@media (min-width: 1400px)
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl
    max-width 1370px
  
a
  color $brand-color
  transition( opacity .3s ease )
  
  &:hover,
  &:active,
  &:focus
    color $brand-color
    text-decoration none
    opacity .7
  
h1,
p,
blockquote
  max-width 770px
  
h1
  font-weight $bold
  font-size $32px
  margin 1.3rem 0
  
h2
  font-weight $bold
  font-size $18px
  margin 1.3rem 0
  
h1, h2, h3, h4, h5, h6
  
  &:first-child
    margin-top 0
  
.b-lead
  font-weight $light
  font-size $24px
  margin 1.3rem 0
  
blockquote
  border-left 5px solid $brand-color
  padding-left 33px
  margin-left 40px
  
hr
  margin-top 1rem
  margin-bottom 1rem
  border-top 1px solid transparent
  
  &.hr--xs
    margin-top .25rem
    margin-bottom .25rem
  
  &.hr--sm
    margin-top .5rem
    margin-bottom .5rem
  
  &.hr--md
    margin-top 1rem
    margin-bottom 1rem
  
  &.hr--lg
    margin-top 1.5rem
    margin-bottom 1.5rem
  
  &.hr--xl
    margin-top 2rem
    margin-bottom 2rem
  
  &.hr--xxl
    margin-top 3rem
    margin-bottom 3rem
    
  &.hr--line
    border-top 1px solid #eee
    
.btn
  font-size $14px
  line-height 50px
  height 50px
  border-radius 25px
  padding-top 0
  padding-bottom 0
  min-width 240px
  transition( opacity .5s ease )
    
  &:hover
    opacity .7
  
  &-primary
    
    &,
    &:hover,
    &.focus,
    &:focus,
    &.disabled,
    &:disabled
      background-color $brand-color
      border-color $brand-color
      
    &.focus,
    &:focus
      box-shadow none

    &:not(:disabled):not(.disabled)

      &.active,
      &:active
        background-color $brand-color
        border-color $brand-color

        &:focus
          box-shadow none
  
  &-light
    
    &,
    &:hover,
    &.focus,
    &:focus,
    &.disabled,
    &:disabled
      color #707070
      background-color #f4f4f4
      border-color #f4f4f4
      
    &.focus,
    &:focus
      box-shadow none

    &:not(:disabled):not(.disabled)

      &.active,
      &:active
        color #707070
        background-color #f4f4f4
        border-color #f4f4f4

        &:focus
          box-shadow none
  
  &-outline-primary
    
    &,
    &:hover,
    &.focus,
    &:focus,
    &.disabled,
    &:disabled
      color $brand-color
      background-color #fff
      border-color $brand-color
      
    &.focus,
    &:focus
      box-shadow none

    &:not(:disabled):not(.disabled)

      &.active,
      &:active
        color #fff
        background-color $brand-color
        border-color $brand-color

        &:focus
          box-shadow none
    