html,
body
  height 100%

body
  background #fff
  font-family 'Roboto', sans-serif
  font-size 16px
  font-weight normal
  color #333
  display flex
  flex-direction column
  height 100%

.b-page-content
  flex 1 0 auto

@media (min-width: 1400px)
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl
    max-width 1370px
  
a
  color $brand-color
  transition( opacity .3s ease )
  
  &:hover,
  &:active,
  &:focus
    color $brand-color
    text-decoration none
    opacity .7
  
h1,
p,
blockquote,
ul,
ol
  max-width 770px
  
h1
  font-weight $bold
  font-size $32px
  margin 1.3rem 0
  
h2
  font-weight $bold
  font-size $18px
  margin 1.3rem 0

  .small,
  small
    margin-left 50px
  
h1, h2, h3, h4, h5, h6
  
  &:first-child
    margin-top 0
  
.b-lead
  font-weight $light
  font-size $24px
  margin 1.3rem 0
  
blockquote
  border-left 5px solid $brand-color
  padding-left 33px
  margin-left 40px
  
hr
  margin-top 1rem
  margin-bottom 1rem
  border-top 1px solid transparent !important
  
  &.hr--xs
    margin-top .25rem
    margin-bottom .25rem
  
  &.hr--sm
    margin-top .5rem
    margin-bottom .5rem
  
  &.hr--md
    margin-top .75rem
    margin-bottom .75rem
  
  &.hr--lg
    margin-top 1.5rem
    margin-bottom 1.5rem
  
  &.hr--xl
    margin-top 3rem //2rem
    margin-bottom 3rem //2rem
  
  &.hr--xxl
    margin-top 3rem
    margin-bottom 3rem
    
  &.hr--line
    border-top 1px solid #eee !important
    
.btn
  font-size $14px
  line-height 50px
  height 50px
  border-radius 25px
  padding-top 0
  padding-bottom 0
  min-width 240px
  transition( opacity .5s ease )
    
  &:hover
    opacity .7
  
  &-primary
    
    &,
    &:hover,
    &.focus,
    &:focus,
    &.disabled,
    &:disabled
      background-color $brand-color
      border-color $brand-color
      
    &.focus,
    &:focus
      box-shadow none

    &:not(:disabled):not(.disabled)

      &.active,
      &:active
        background-color $brand-color
        border-color $brand-color

        &:focus
          box-shadow none
  
  &-light
    
    &,
    &:hover,
    &.focus,
    &:focus,
    &.disabled,
    &:disabled
      color #707070
      background-color #f4f4f4
      border-color #f4f4f4
      
    &.focus,
    &:focus
      box-shadow none

    &:not(:disabled):not(.disabled)

      &.active,
      &:active
        color #707070
        background-color #f4f4f4
        border-color #f4f4f4

        &:focus
          box-shadow none
  
  &-outline-primary
    
    &,
    &:hover,
    &.focus,
    &:focus,
    &.disabled,
    &:disabled
      color $brand-color
      background-color #fff
      border-color $brand-color
      
    &.focus,
    &:focus
      box-shadow none

    &:not(:disabled):not(.disabled)

      &.active,
      &:active
        color #fff
        background-color $brand-color
        border-color $brand-color

        &:focus
          box-shadow none
  
  &-sber
    
    &,
    &:hover,
    &.focus,
    &:focus,
    &.disabled,
    &:disabled
      background-color #2aa72a
      border-color #2aa72a
      color #fff
      
    &.focus,
    &:focus
      box-shadow none

    &:not(:disabled):not(.disabled)

      &.active,
      &:active
        background-color #2aa72a
        border-color #2aa72a

        &:focus
          box-shadow none

  &[ type=submit ]

    &.disabled
      opacity .7
      pointer-events none
          
    
.swiper-pagination-bullet-active
  background-color #9a0634
    
.swiper-button-next
  transform( translateX( -50px ))
    
.swiper-button-prev
  transform( translateX( 50px ))
  
.swiper-button-next,
.swiper-button-prev
  opacity 0
  transition( all .3s ease )
  
  .swiper-container:hover &
    transform( translateX(0))
    opacity 1
  
  &:after
    color #9a0634
    
  @media( max-width 767px )
    display none

.small
  font-size $11px
  