clearfix()
  &:before
  &:after
    content: ""
    display: table
    clear: both

transition( val )
  transition val
  -webkit-transition val
  -moz-transition val
  -ms-transition val

transform( val )
  transform val
  -webkit-transform val
  -moz-transform val
  -ms-transform val
  
background()
  background-repeat no-repeat
  background-position center
  background-size cover