extends ../../layouts/main

block placeholder-styles
  link( href="/template/placeholders/blocks-text.css" rel="stylesheet" )

block vars
  - var page = 'blocks-text'
  - var authorized = 'true'
  
block title
  title Blocks | Text | SPA

block content

  .container-lg
  
    h1 О компании
    
    p.b-lead Стройпромавтоматика замыкает в себе абсолютно полный цикл Девелопера: от планирования развития сбалансированных территорий, до реализации недвижимости и управления объектами собственной управляющей компанией.
    
    p Компания обладает самодостаточно почти полным спектром собственного производства строительных материалов; владеет необходимым парком строительной техники и средствами малой механизации; укомплектовано высококлассными.
    
    hr.hr--xl
    
    blockquote Привлекая собственные средства финансирования в развитие проектов, осуществляя собственное управление финансовыми потоками и планирование бюджетами, развивая собственные сети инженерной инфраструктуры и возводя собственные теплоэнергетические центры для своих жилых комплексов добилось максимального снижения инвестиционной стоимости (удельной цены) единицы строительства.
    
    