extends ../../layouts/main

block vars
  - var page = 'page-projects-detail'
  - var authorized = 'true'

block title
  title Projects detail | spa

block content

  include ../../components/projects.detail/template