// start /components/pagination/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'pagination'
else
  - var componentsArray = [ 'pagination' ]

// end /components/pagination/