extends ../../layouts/main

block vars
  - var page = 'blocks-filter'
  - var authorized = 'true'
  
block title
  title Blocks | Filter | SPA

block content

  hr

  .container-lg
  
    h2 Подбор квартиры
    
  include ../../components/filter/complex-select
    
    