@import '../../styl/component-include.styl'

.b-docs-detail

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        opacity 0
        width 100%
        pointer-events none
        z-index 1
    
.b-docs-detail

  &__wrapper
    display flex
    justify-content space-between
    align-items stretch
    flex-wrap wrap
  
  &__item
    width calc( (100% - 30px) / 2 )
    min-height 112px
    border-radius 10px
    display flex
    align-items center
    border 1px solid #e8e8e8
    padding 20px 40px 20px 130px
    margin-bottom 40px
    transition( border-color .5s ease )
    background-repeat no-repeat
    background-position 30px center
    background-size 57px
  
    &:hover
      border-color #eabeb4

    @media( max-width 767px )
      width 100%
      margin-bottom 15px

  &__text

    b
      font-size $14px
      font-weight $normal
      line-height 1.4
      display block
      margin-bottom 11px

    small
      font-size $10px
      line-height 16px
      display inline-block
      
      span
        margin-right 20px
        display inline-block
        color #707070