// start /components/docs.detail/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'docs.detail'
else
  - var componentsArray = [ 'docs.detail' ]

.b-docs-detail.ph-block

  .ph

    .ph__item
    .ph__item
    .ph__item
    .ph__item
    .ph__item
    .ph__item
    .ph__item
    .ph__item
    .ph__item

  .ph-content

    .b-docs-detail__wrapper
  
      a.b-docs-detail__item( href="/pages/docs-detail/" style="background-image: url( '/template/images/pdf-icon.svg' );" )
        span.b-docs-detail__text
          b График СМР 2020-2021 гг.
          small
            span 340 Кб
            span 12.10.2020
            span Иванов Петр Иванович
  
      a.b-docs-detail__item( href="/pages/docs-detail/" style="background-image: url( '/template/images/pdf-icon.svg' );" )
        span.b-docs-detail__text
          b График СМР 2020-2021 гг.
          small
            span 340 Кб
            span 12.10.2020
            span Иванов Петр Иванович
  
      a.b-docs-detail__item( href="/pages/docs-detail/" style="background-image: url( '/template/images/pdf-icon.svg' );" )
        span.b-docs-detail__text
          b График СМР 2020-2021 гг.
          small
            span 340 Кб
            span 12.10.2020
            span Иванов Петр Иванович
  
      a.b-docs-detail__item( href="/pages/docs-detail/" style="background-image: url( '/template/images/pdf-icon.svg' );" )
        span.b-docs-detail__text
          b График СМР 2020-2021 гг.
          small
            span 340 Кб
            span 12.10.2020
            span Иванов Петр Иванович
  
      a.b-docs-detail__item( href="/pages/docs-detail/" style="background-image: url( '/template/images/pdf-icon.svg' );" )
        span.b-docs-detail__text
          b График СМР 2020-2021 гг.
          small
            span 340 Кб
            span 12.10.2020
            span Иванов Петр Иванович
  
      a.b-docs-detail__item( href="/pages/docs-detail/" style="background-image: url( '/template/images/pdf-icon.svg' );" )
        span.b-docs-detail__text
          b График СМР 2020-2021 гг. График СМР 2020-2021 гг.График СМР 2020-2021 гг. График СМР 2020-2021 гг. График СМР 2020-2021 гг. График СМР 2020-2021 гг.
          small
            span 340 Кб
            span 12.10.2020
            span Иванов Петр Иванович
  
      a.b-docs-detail__item( href="/pages/docs-detail/" style="background-image: url( '/template/images/pdf-icon.svg' );" )
        span.b-docs-detail__text
          b График СМР 2020-2021 гг.
          small
            span 340 Кб
            span 12.10.2020
            span Иванов Петр Иванович
  
      a.b-docs-detail__item( href="/pages/docs-detail/" style="background-image: url( '/template/images/pdf-icon.svg' );" )
        span.b-docs-detail__text
          b График СМР 2020-2021 гг. График СМР 2020-2021 гг.График СМР 2020-2021 гг. График СМР 2020-2021 гг. График СМР 2020-2021 гг. График СМР 2020-2021 гг.
          small
            span 340 Кб
            span 12.10.2020
            span Иванов Петр Иванович
  
      a.b-docs-detail__item( href="/pages/docs-detail/" style="background-image: url( '/template/images/pdf-icon.svg' );" )
        span.b-docs-detail__text
          b График СМР 2020-2021 гг.
          small
            span 340 Кб
            span 12.10.2020
            span Иванов Петр Иванович
  
      a.b-docs-detail__item( href="/pages/docs-detail/" style="background-image: url( '/template/images/pdf-icon.svg' );" )
        span.b-docs-detail__text
          b График СМР 2020-2021 гг. График СМР 2020-2021 гг.График СМР 2020-2021 гг. График СМР 2020-2021 гг. График СМР 2020-2021 гг. График СМР 2020-2021 гг.
          small
            span 340 Кб
            span 12.10.2020
            span Иванов Петр Иванович

// end /components/docs.detail/