// start /components/calculator/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'calculator'
else
  - var componentsArray = [ 'calculator' ]

.b-calculator.ph-block

  .ph

  .ph-content

    .b-calculator__wrapper

      .row

        .col-12.col-md-4

          .b-calculator__price
            label Стоимость квартиры, &#8381;
            input(type="text" name="price" value="6000000")
            .b-calculator__price-range(data-min="0" data-max="50000000")

          hr

          .b-calculator__payment
            label Первоначальный взнос, &#8381;
            input(type="text" name="price" value="2000000")
            .b-calculator__payment-range(data-min="0" data-max="10000000")

          hr

          .b-calculator__period
            label Срок кредита, лет
            input(type="text" name="price" value="15")
            .b-calculator__period-range(data-min="0" data-max="30")

          hr.hr--lg

          .text-center
            a.btn.btn-primary( href="/pages/hypothec-form/" ) Отправить заявку

        hr.d-block.d-md-none.w-100

        .col-12.col-md-8

          table
            thead
              tr
                th Банк
                th Ставка
                th Срок
                th Ежемесячный взнос
            tbody
              tr
                td
                  img( src="/upload/banks/1.svg" alt="" )
                td 9%
                td от 20 лет
                td
              tr
                td
                  img( src="/upload/banks/2.svg" alt="" )
                td 5%
                td от 20 лет
                td
              tr
                td
                  img( src="/upload/banks/3.svg" alt="" )
                td 12%
                td от 20 лет
                td
              tr
                td
                  img( src="/upload/banks/4.svg" alt="" )
                td 7%
                td от 20 лет
                td
              tr
                td
                  img( src="/upload/banks/5.svg" alt="" )
                td 7%
                td от 20 лет
                td
              tr
                td
                  img( src="/upload/banks/6.svg" alt="" )
                td 7%
                td от 20 лет
                td
              tr
                td
                  img( src="/upload/banks/7.svg" alt="" )
                td 7%
                td от 20 лет
                td
              tr
                td
                  img( src="/upload/banks/8.svg" alt="" )
                td 7%
                td от 20 лет
                td
              tr
                td
                  img( src="/upload/banks/9.svg" alt="" )
                td 7%
                td от 20 лет
                td
              tr
                td
                  img( src="/upload/banks/10.svg" alt="" )
                td 7%
                td от 20 лет
                td
              tr
                td
                  img( src="/upload/banks/11.svg" alt="" )
                td 7%
                td от 20 лет
                td
              tr
                td
                  img( src="/upload/banks/12.svg" alt="" )
                td 7%
                td от 20 лет
                td
              tr
                td
                  img( src="/upload/banks/13.svg" alt="" )
                td 7%
                td от 20 лет
                td

// end /components/calculator/