// start /components/news/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'news'
else
  - var componentsArray = [ 'news' ]

.b-news

  .row

    .col-12.col-md-4
      a.b-news__title( href="/pages/news-detail/" ) Передаче квартир в домах по адресам: г. Звенигород, р-н Восточный, мкр. 2,3, корпуса 6, 9, 10 и 13
      hr.hr--sm
      p Земельный участок с кадастровым номером 50:49:0010110:1341, на котором строятся вышеперечисленные корпуса, передан собственнику - АО «СУ 155». Вместе с переданным земельным участком, в АО «СУ-155» переданы объекты незавершенного строительства (корпуса 6, 9, 10 и 13).
      .small.text-muted 13 апреля 2020

    .col-12.col-md-4
      a.b-news__title( href="/pages/news-detail/" ) Передаче квартир в домах по адресам: г. Звенигород, р-н Восточный, мкр. 2,3, корпуса 6, 9, 10 и 13
      hr.hr--sm
      p Земельный участок с кадастровым номером 50:49:0010110:1341, на котором строятся вышеперечисленные корпуса, передан собственнику - АО «СУ 155». Вместе с переданным земельным участком, в АО «СУ-155» переданы объекты незавершенного строительства (корпуса 6, 9, 10 и 13).
      .small.text-muted 13 апреля 2020

    .col-12.col-md-4
      a.b-news__title( href="/pages/news-detail/" ) Передаче квартир в домах по адресам: г. Звенигород, р-н Восточный, мкр. 2,3, корпуса 6, 9, 10 и 13
      hr.hr--sm
      p Земельный участок с кадастровым номером 50:49:0010110:1341, на котором строятся вышеперечисленные корпуса, передан собственнику - АО «СУ 155». Вместе с переданным земельным участком, в АО «СУ-155» переданы объекты незавершенного строительства (корпуса 6, 9, 10 и 13).
      .small.text-muted 13 апреля 2020
        
// end /components/news/