@import '../../styl/component-include.styl'

.b-form-flat

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        opacity 0
        z-index -1
      
      &__message
        opacity 0
    
.b-form-flat

  &__body
    border 1px solid #e5e5e5
    padding 50px 30px
    
    @media( min-width 768px )
      [ class^=col ]:first-child
        border-right 1px solid #e5e5e5
      
      [ class^=col ]:nth-child(2)
        padding-left 50px
        padding-right 35px

      .b-form-flat__info

          [ class^=col ]
            border none
            padding-left 15px
        
  &__img
    background-repeat no-repeat
    background-position center
    background-size contain
    padding-top 100%
    margin 0 auto
    
  .swiper-container[ data-tab ]:nth-of-type(2)
    display none
    
  &__galleries-switch
    text-align center
    
    a
      display inline-block
      margin 0 17px
      font-size $14px
      
      &.active
        pointer-events none
        cursor default
        
        &,
        &:hover,
        &:active,
        &:focus
          color #707070
      
  &__info
    font-size $12px
    line-height 21px
    color #707070
    
    a
      display inline-block

    span
      display inline-block
      margin-right 5px
      
  form

    .btn[ type=submit ]

      &.disabled
        opacity .7
        pointer-events none

  &__message
    border 1px solid #e5e5e5
    padding 70px 30px
    text-align center
    height 550px
    display flex
    align-items center
    justify-content space-around

    p
      color $brand-color
      font-size $32px
      font-weight bold
      margin-bottom 4rem
      max-width 100%

  .small
    width 300px
    margin 0 auto