extends ../../layouts/main

block vars
  - var page = 'page-flat-detail'
  - var authorized = 'true'

block title
  title Flat detail | spa

block content

  hr.hr--lg
  
  include ../../components/flat.detail/template