@import '../../styl/component-include.styl'

.b-projects

  &.b-ph-block
    
    &.i-ph-animated
      
      .b-ph-content
        position static
        width auto
        opacity 1
        
      .b-ph
        position absolute
        top 0
        left 0
        opacity 0
        z-index -1
    
.b-projects
  
  &__img
    background()
    display block
    padding-top 68%
    border-radius 7px
    margin-bottom 20px
    
  .row
    font-size $12px
    margin-bottom 4px