@import '../../styl/component-include.styl'

.b-projects

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        opacity 0
        z-index -1
        
#projectsYmap
  height 633px
    
.b-projects
  line-height 18px

  @media( min-width 1200px )
    line-height 1.2
  
  &__img
    background-repeat no-repeat
    background-position center
    background-size 100%
    display block
    padding-top 68%
    border-radius 7px
    margin-bottom 20px
    position relative
    transition( all 1s ease )
    
    &:hover
      background-size 110%
    
  .b-badges
    position absolute
    top 25px
    left 25px
    
    @media( min-width 576px ) and ( max-width 991px )
      top 10px
      left 10px
      
    &--bottom
      top auto
      bottom 25px
    
      @media( min-width 576px ) and ( max-width 991px )
        bottom 10px
    
  .b-badge
    display inline-block
    background #fff
    border-radius 3px
    line-height 33px
    color $brand-color
    font-size $12px
    padding 0 10px
    margin 0 10px 6px 0
    white-space nowrap
    text-align center
    
    @media( min-width 576px ) and ( max-width 991px )
      line-height 23px
      margin 0 6px 6px 0
      
    &.b-badge--sold
      background #ed2e2e
      color #fff
      width 106px
      margin-bottom 0
      margin-top 6px
    
  .row
    font-size $12px
    margin-bottom 4px
    align-items baseline
    
    @media( max-width 1199px )
      margin-bottom 0
    
  b
    font-size $18px
    
  &__row
  
    @media( min-width 576px )
      opacity 0
      transform( translateY( 50px ))
      transition( all .5s ease )
      
      &.b-projects__row--shown
        opacity 1
        transform( translateY(0))
    
  &__item
  
    @media( max-width 575px )
      opacity 0
      transform( translateY( 50px ))
      transition( all .5s ease )
      
      &.b-projects__item--shown
        opacity 1
        transform( translateY(0))