// start /components/projects/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'projects'
else
  - var componentsArray = [ 'projects' ]
  
script( src="https://api-maps.yandex.ru/2.1/?apikey=6d05a9b7-21f5-471b-885d-410e6fdfea8e&lang=ru_RU&coordorder=longlat" )

script( src="/components/projects/placemarks.js" )

script
  | window.projectsYmapCenter = [36.8669151, 55.723796];
  | window.projectsYmapZoom = 13;
  
.b-projects.ph-block

  .ph
  
    .container-lg
    
      .ph__row
    
        .ph__item
          div
          div
          div
          
        .ph__item
          div
          div
          div
          
        .ph__item
          div
          div
          div
    
      .ph__row
    
        .ph__item
          div
          div
          div
          
        .ph__item
          div
          div
          div
          
        .ph__item
          div
          div
          div

  .ph-content
      
    .container-lg.text-right
    
      .b-switch
        span Списком
        span На карте
        
      hr
        
    .b-projects__tabs
          
      .b-projects__tab
        
        .container-lg.b-projects__block

          h2 В продаже
          
          hr

          .row.b-projects__row

            .col-12.col-sm-4
              .b-projects__item
                a.b-projects__img( href="/pages/projects-detail/" data-original="/upload/projects/1.jpg" )
                  span.b-badges
                    span.b-badge Дом сдан
                    span.b-badge Ипотека 3%
                    span.b-badge Детская площадка
                    span.b-badge Красивый двор
                .row
                  .col-xl Жилой квартал
                  .col-xl-auto Звенигород, мкр-н Восточный № 2,3
                .row
                  .col-xl
                    b
                      a( href="/pages/projects-detail/" ) Восточный
                  .col-xl-auto От 10 млн. руб
                  
            hr.d-block.d-sm-none.w-100

            .col-12.col-sm-4
              .b-projects__item
                a.b-projects__img( href="/pages/projects-detail/" data-original="/upload/projects/2.jpg" )
                .row
                  .col-xl Жилой квартал
                  .col-xl-auto Ул. Ленинская слобода, дом 19, этаж 4
                .row
                  .col-xl
                    b
                      a( href="/pages/projects-detail/" ) Радужный
                  .col-xl-auto От 3,5 млн. руб
                  
            hr.d-block.d-sm-none.w-100

            .col-12.col-sm-4
              .b-projects__item
                a.b-projects__img( href="/pages/projects-detail/" data-original="/upload/projects/3.jpg" )
                .row
                  .col-xl Жилой квартал
                  .col-xl-auto Ул. Некрасова дом 27/8
                .row
                  .col-xl
                    b
                      a( href="/pages/projects-detail/" ) Некрасовский
                  .col-xl-auto От 7 млн. руб
                  
          hr

          .row.b-projects__row

            .col-12.col-sm-4
              .b-projects__item
                a.b-projects__img( href="/pages/projects-detail/" data-original="/upload/projects/4.jpg" )
                .row
                  .col-xl Жилой квартал
                  .col-xl-auto Нахабинское шоссе, д.1, кк 1,2,3
                .row
                  .col-xl
                    b
                      a( href="/pages/projects-detail/" ) Лермонтовский
                  .col-xl-auto От 10 млн. руб
                  
            hr.d-block.d-sm-none.w-100

            .col-12.col-sm-4
              .b-projects__item
                a.b-projects__img( href="/pages/projects-detail/" data-original="/upload/projects/5.jpg" )
                .row
                  .col-xl Жилой квартал
                  .col-xl-auto Ул. Фрунзе, д.29
                .row
                  .col-xl
                    b
                      a( href="/pages/projects-detail/" ) Малиновый ручей
                  .col-xl-auto От 3,5 млн. руб
                  
            hr.d-block.d-sm-none.w-100

            .col-12.col-sm-4
              .b-projects__item
                a.b-projects__img( href="/pages/projects-detail/" data-original="/upload/projects/6.jpg" )
                .row
                  .col-xl Жилой квартал
                  .col-xl-auto Проезд Ветеранов, д.10, кк. 1,2,3,4
                .row
                  .col-xl
                    b
                      a( href="/pages/projects-detail/" ) Ракитня
                  .col-xl-auto От 7 млн. руб
                  
        hr.hr--xl.hr--line
          
        .container-lg.b-projects__block

          h2 Проданные проекты

          .row.b-projects__row

            .col-12.col-sm-4
              .b-projects__item
                a.b-projects__img( href="/pages/projects-detail/" data-original="/upload/projects/1.jpg" )
                  span.b-badges.b-badges--bottom
                    span.b-badge.b-badge--sold Продано
                .row
                  .col-xl Жилой квартал
                  .col-xl-auto Звенигород, мкр-н Восточный № 2,3
                .row
                  .col-xl
                    b
                      a( href="/pages/projects-detail/" ) Восточный
                  .col-xl-auto От 10 млн. руб
                  
            hr.d-block.d-sm-none.w-100

            .col-12.col-sm-4
              .b-projects__item
                a.b-projects__img( href="/pages/projects-detail/" data-original="/upload/projects/2.jpg" )
                .row
                  .col-xl Жилой квартал
                  .col-xl-auto Ул. Ленинская слобода, дом 19, этаж 4
                .row
                  .col-xl
                    b
                      a( href="/pages/projects-detail/" ) Радужный
                  .col-xl-auto От 3,5 млн. руб
                  
            hr.d-block.d-sm-none.w-100

            .col-12.col-sm-4
              .b-projects__item
                a.b-projects__img( href="/pages/projects-detail/" data-original="/upload/projects/3.jpg" )
                .row
                  .col-xl Жилой квартал
                  .col-xl-auto Ул. Некрасова дом 27/8
                .row
                  .col-xl
                    b
                      a( href="/pages/projects-detail/" ) Некрасовский
                  .col-xl-auto От 7 млн. руб
    
      .b-projects__tab
    
        .container-lg
        
          #projectsYmap
              
// end /components/projects/