// start /components/filter/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'filter'
else
  - var componentsArray = [ 'filter' ]
  
style .ik_select_link_text:after{ background-image: url( '/template/images/arrow-drop-down.svg' ); }

.b-filter-result-block

  .container-lg
  
    h2 Подбор нежилого помещения

  .container-lg

    .b-filter.ph-block

      .ph

        .ph__item
        .ph__item
        .ph__item
        .ph__item
        .ph__item

      .ph-content

        form( action="/components/filter/ajax-response.html" method="GET" data-ajax="true" )

          .b-filter__wrapper

            input( type="hidden" name="limit" value="3" )
            input( type="hidden" name="page" value="1" )

            .b-filter__type
              label Тип помещения
              select( name="type" )
                option( value="0" ) Все
                option( value="1" ) Помещение свободного
                option( value="2" ) Гараж
                option( value="3" ) Офис
                
            hr.d-block.d-md-none

            .b-filter__square
              label Площадь, м2
              .b-filter__square-fields
                input.b-filter__square-min( type="text" value="20" name="square-min" )
                input.b-filter__square-max( type="text" value="150" name="square-max" )
              .b-filter__square-range( data-min="20" data-max="150")

            hr.d-block.d-sm-none

            .b-filter__price
              label Цена
              .b-filter__price-fields
                input.b-filter__price-min( type="text" value="1800000" name="price-min" )
                input.b-filter__price-max( type="text" value="12000000" name="price-max" )
              .b-filter__price-range( data-min="1800000" data-max="12000000")

            hr.d-block.d-md-none

            .b-filter__status
              label Стадия строительства
              select( name="status" )
                option( value="1" ) Строится
                option( value="2" ) Построен
                option( value="3" ) Сдан

            hr.d-block.d-xl-none

            .b-filter__submit
              button.btn.btn-primary( type="submit" ) Подобрать
              span( style="background-image: url( '/template/images/help.svg' );" )

      hr.hr--lg
      
  .container-lg

    .b-filter-result
      include ../../components/filter/ajax-response
              
// end /components/filter/