.col-12.col-md-4

  .b-flat-card( data-href="/pages/flat/" )
  
    .b-flat-card__img( data-original="/upload/flats/1.jpg" )
    
    hr.hr--line
    
    .b-flat-card__title Квартира, 56 м<sup>2</sup>
    
    .b-flat-card__project
      a( href="" ) Восточный
      
    .b-flat-card__info
      span Корпус:
        | 
        span 12
      span Этаж:
        | 
        span 6
      span Комнат:
        | 
        span 1
      
    .b-flat-card__price
      span 17 000 500 &#8381;
      s 35 000 000 &#8381;
      
hr.d-block.d-md-none.w-100

.col-12.col-md-4

  .b-flat-card( data-href="/pages/flat/" )
  
    .b-flat-card__img( data-original="/upload/flats/2.jpg" )
    
    hr.hr--line
    
    .b-flat-card__title Офис, 56 м<sup>2</sup>
    
    .b-flat-card__project
      a( href="" ) Некрасовский
      
    .b-flat-card__info
      span Корпус:
        | 
        span 7
      span Этаж:
        | 
        span 2
      span Комнат:
        | 
        span 2
      
    .b-flat-card__price 7 000 500 &#8381;
      
hr.d-block.d-md-none.w-100

.col-12.col-md-4

  .b-flat-card( data-href="/pages/flat/" )
  
    .b-flat-card__img( data-original="/upload/flats/3.jpg" )
    
    hr.hr--line
    
    .b-flat-card__title Апартаменты, 56 м<sup>2</sup>
    
    .b-flat-card__project
      a( href="" ) Восточный
      
    .b-flat-card__info
      span Корпус:
        | 
        span 12
      span Этаж:
        | 
        span 6
      span Комнат:
        | 
        span 1
      
    .b-flat-card__price
      span 3 000 500 &#8381;
      s 6 000 000 &#8381;

hr.w-100

.col-12.col-md-4

  .b-flat-card( data-href="/pages/flat/" )
  
    .b-flat-card__img( data-original="/upload/flats/1.jpg" )
    
    hr.hr--line
    
    .b-flat-card__title Квартира, 56 м<sup>2</sup>
    
    .b-flat-card__project
      a( href="" ) Восточный
      
    .b-flat-card__info
      span Корпус:
        | 
        span 12
      span Этаж:
        | 
        span 6
      span Комнат:
        | 
        span 1
      
    .b-flat-card__price
      span 17 000 500 &#8381;
      s 35 000 000 &#8381;
      
hr.d-block.d-md-none.w-100

.col-12.col-md-4

  .b-flat-card( data-href="/pages/flat/" )
  
    .b-flat-card__img( data-original="/upload/flats/2.jpg" )
    
    hr.hr--line
    
    .b-flat-card__title Офис, 56 м<sup>2</sup>
    
    .b-flat-card__project
      a( href="" ) Некрасовский
      
    .b-flat-card__info
      span Корпус:
        | 
        span 7
      span Этаж:
        | 
        span 2
      span Комнат:
        | 
        span 2
      
    .b-flat-card__price 7 000 500 &#8381;
      
hr.d-block.d-md-none.w-100

.col-12.col-md-4

  .b-flat-card( data-href="/pages/flat/" )
  
    .b-flat-card__img( data-original="/upload/flats/3.jpg" )
    
    hr.hr--line
    
    .b-flat-card__title Апартаменты, 56 м<sup>2</sup>
    
    .b-flat-card__project
      a( href="" ) Восточный
      
    .b-flat-card__info
      span Корпус:
        | 
        span 12
      span Этаж:
        | 
        span 6
      span Комнат:
        | 
        span 1
      
    .b-flat-card__price
      span 3 000 500 &#8381;
      s 6 000 000 &#8381;

hr.w-100