.b-advantages

  .row

    .col-12.col-md-3

      .b-advantages__menu

        .swiper-container
          .swiper-wrapper
            a.swiper-slide.active( href="" data-tab="1" ) Расположение
            a.swiper-slide( href="" data-tab="2" ) Транспортная доступность
            a.swiper-slide( href="" data-tab="3" ) Окружение и инфраструктура
            a.swiper-slide( href="" data-tab="4" ) Уютные дворы
            a.swiper-slide( href="" data-tab="5" ) Современные дома

    .col-12.col-md-9

      .b-advantages__tab.active( data-tab="1" )

        .row

          .col-12.col-sm-7
            img.img-fluid( data-original="/upload/gallery/8.jpg" alt="" )

          hr.d-block.d-sm-none.w-100

          .col-12.col-sm-5

            p Дома с яркой индивидуальностью. Над архитектурой апартаментов работало модное бюро ADM, знаменитое проектами самых заметных и премиальных жилых комплексов Москвы. Комплекс апартаментов состоит из трех корпусов, объединенных функциональной стилобатной частью и выполненных в едином авторском стиле. Фасады корпусов украшены долговечным декоративным кирпичом и выдержаны в спокойных стильных тонах.
            p Комплекс апартаментов состоит из трех корпусов, объединенных функциональной стилобатной частьюи выполненных в едином авторском стиле. Фасады корпусов украшены долговечным декоративным кирпичом и выдержаны в спокойных стильных тонах.

      .b-advantages__tab( data-tab="2" )

        .row

          .col-12.col-sm-7
            img.img-fluid( data-original="/upload/gallery/9.jpg" alt="" )

          hr.d-block.d-sm-none.w-100

          .col-12.col-sm-5

            p Комплекс апартаментов состоит из трех корпусов, объединенных функциональной стилобатной частьюи выполненных в едином авторском стиле. Фасады корпусов украшены долговечным декоративным кирпичом и выдержаны в спокойных стильных тонах.

      .b-advantages__tab( data-tab="3" )

        .row

          .col-12.col-sm-7
            img.img-fluid( data-original="/upload/gallery/10.jpg" alt="" )

          hr.d-block.d-sm-none.w-100

          .col-12.col-sm-5

            p Дома с яркой индивидуальностью. Над архитектурой апартаментов работало модное бюро ADM, знаменитое проектами самых заметных и премиальных жилых комплексов Москвы. Комплекс апартаментов состоит из трех корпусов, объединенных функциональной стилобатной частью и выполненных в едином авторском стиле. Фасады корпусов украшены долговечным декоративным кирпичом и выдержаны в спокойных стильных тонах.

      .b-advantages__tab( data-tab="4" )

        .row

          .col-12.col-sm-7
            img.img-fluid( data-original="/upload/gallery/3.jpg" alt="" )

          hr.d-block.d-sm-none.w-100

          .col-12.col-sm-5

            p Дома с яркой индивидуальностью. Над архитектурой апартаментов работало модное бюро ADM, знаменитое проектами самых заметных и премиальных жилых комплексов Москвы. Комплекс апартаментов состоит из трех корпусов, объединенных функциональной стилобатной частью и выполненных в едином авторском стиле. Фасады корпусов украшены долговечным декоративным кирпичом и выдержаны в спокойных стильных тонах.
            p Комплекс апартаментов состоит из трех корпусов, объединенных функциональной стилобатной частьюи выполненных в едином авторском стиле. Фасады корпусов украшены долговечным декоративным кирпичом и выдержаны в спокойных стильных тонах.

      .b-advantages__tab( data-tab="5" )

        .row

          .col-12.col-sm-7
            img.img-fluid( data-original="/upload/gallery/4.jpg" alt="" )

          hr.d-block.d-sm-none.w-100

          .col-12.col-sm-5

            p Комплекс апартаментов состоит из трех корпусов, объединенных функциональной стилобатной частьюи выполненных в едином авторском стиле. Фасады корпусов украшены долговечным декоративным кирпичом и выдержаны в спокойных стильных тонах.
