.container-lg.d-none.d-md-block

  .b-projects-detail__anchor-menu
    a( href="#advantages" ) Преимущества
    a( href="#location" ) Расположение
    a( href="#filter" ) Подбор квартиры
    a( href="#hypothec" ) Ипотека
    a( href="#progress" ) Ход строительства
    a( href="#news" ) Новости
    a( href="#docs" ) Документы