.b-chess
  
  .container-lg
  
    h2 Шахматка

    .b-chess-menu
      div.active( href="" data-tab="11" ) Корпус 1
        span Секция 1
      div( href="" data-tab="12" ) Корпус 1
        span Секция 2
      div( href="" ) Корпус 2
        span Секция 1
      div( href="" ) Корпус 2
        span Секция 2
      div( href="" ) Корпус 3
        span Секция 1
      div( href="" ) Корпус 3
        span Секция 2
      div( href="" ) Корпус 4
        span Секция 1
      div( href="" ) Корпус 4
        span Секция 2
      div( href="" ) Корпус 5
        span Секция 1
      div( href="" ) Корпус 5
        span Секция 2

  hr.hr--lg

  .container-lg

    .b-chess-block
      h2 Жилые помещения

      .b-chess-wrap

        .b-chess-table.active( data-tab="11" )
          .b-chess-table__floors
            div 6 этаж
            div 5 этаж
            div 4 этаж
            div 3 этаж
            div 2 этаж
            div 1 этаж
          .b-chess-table__flats
            div
              span 59А
              a( href="" ) 60А
              span 61А
              span 63B
              span 64B
              span
              span
            div
              span 59А
              a( href="" ) 60А
              a( href="" ) 61А
              a( href="" ) 63B
              a( href="" ) 64B
              span 72B
              span 74A
            div
              span 59А
              a( href="" ) 60А
              a( href="" ) 61А
              a( href="" ) 63B
              a( href="" ) 64B
              a( href="" ) 72B
              span 74A
            div
              span 59А
              a( href="" ) 60А
              a( href="" ) 61А
              a( href="" ) 63B
              a( href="" ) 64B
              a( href="" ) 72B
              span 74A
            div
              span 59А
              a( href="" ) 60А
              a( href="" ) 61А
              a( href="" ) 63B
              a( href="" ) 64B
              a( href="" ) 72B
              span 74A
            div
              span 59А
              a( href="" ) 60А
              a( href="" ) 61А
              a( href="" ) 63B
              a( href="" ) 64B
              a( href="" ) 72B
              span 74A

        .b-chess-table( data-tab="12" )
          .b-chess-table__floors
            div 4 этаж
            div 3 этаж
            div 2 этаж
            div 1 этаж
          .b-chess-table__flats
            div
              span 59А
              a( href="" ) 60А
              a( href="" ) 61А
              a( href="" ) 63B
              a( href="" ) 64B
              a( href="" ) 72B
              span 74A
            div
              span 59А
              a( href="" ) 60А
              a( href="" ) 61А
              a( href="" ) 63B
              a( href="" ) 64B
              a( href="" ) 72B
              span 74A
            div
              span 59А
              a( href="" ) 60А
              a( href="" ) 61А
              a( href="" ) 63B
              a( href="" ) 64B
              a( href="" ) 72B
              span 74A
            div
              span 59А
              a( href="" ) 60А
              a( href="" ) 61А
              a( href="" ) 63B
              a( href="" ) 64B
              a( href="" ) 72B
              span 74A

  hr.hr--lg

  .container-lg

    .b-chess-block
      h2 Технические помещения

      .b-chess-wrap

        .b-chess-table.active
          .b-chess-table__floors
            div -1 этаж
          .b-chess-table__flats
            div
              span 59А
              a( href="" ) 60А
              span 61А
              span 63B
              span 64B
              span
              span
              span 61А
              span 63B
              span 64B
              span 61А
              span 63B
              span 64B