.b-projects-detail__docs

  div
    h2
      a( href="" ) Документы проекта

    | Все документы по проекту ЖК Некрасовский от застройщика.

  hr.d-block.d-md-none

  a.btn.btn-primary( href="" ) Перейти