link( rel="stylesheet", href="/template/css/swiper.min.css" )
script( src="/template/js/swiper.min.js" )

.b-projects-detail__progress

  .swiper-container
    .swiper-wrapper
    
      .swiper-slide
        img.img-fluid( src="/upload/gallery/1.jpg" alt="" )
        hr.hr--xs
        p Март 2020
    
      .swiper-slide
        img.img-fluid( src="/upload/gallery/2.jpg" alt="" )
        hr.hr--xs
        p Апрель 2020
    
      .swiper-slide
        img.img-fluid( src="/upload/gallery/3.jpg" alt="" )
        hr.hr--xs
        p Май 2020
    
      .swiper-slide
        img.img-fluid( src="/upload/gallery/4.jpg" alt="" )
        hr.hr--xs
        p Июнь 2020
    
      .swiper-slide
        img.img-fluid( src="/upload/gallery/5.jpg" alt="" )
        hr.hr--xs
        p Июль 2020
    
      .swiper-slide
        img.img-fluid( src="/upload/gallery/6.jpg" alt="" )
        hr.hr--xs
        p Август 2020
    
      .swiper-slide
        img.img-fluid( src="/upload/gallery/7.jpg" alt="" )
        hr.hr--xs
        p Сентябрь 2020
    
      .swiper-slide
        img.img-fluid( src="/upload/gallery/8.jpg" alt="" )
        hr.hr--xs
        p Октябрь 2020
            
    .swiper-arrow-right( style="background-image: url( '/components/projects.detail/images/arrow-right.svg' );" )
    .swiper-arrow-left( style="background-image: url( '/components/projects.detail/images/arrow-left.svg' );" )