.row.b-projects-detail__progress

  .col-12.col-sm-4
    img.img-fluid( src="/upload/gallery/1.jpg" alt="" )
    hr.hr--xs
    p Земельный участок.

  .col-12.col-sm-4
    img.img-fluid( src="/upload/gallery/2.jpg" alt="" )
    hr.hr--xs
    p Передаче квартир в домах по адресам: г. Звенигород, р-н Восточный, мкр. 2,3, корпуса 6, 9, 10 и 13.

  .col-12.col-sm-4
    img.img-fluid( src="/upload/gallery/3.jpg" alt="" )
    hr.hr--xs
    p Дома с яркой индивидуальностью.