// start /components/projects.detail/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'projects.detail'
else
  - var componentsArray = [ 'projects.detail' ]

include ../../components/gallery/gallery-2

hr

include ./anchor-menu

hr.hr--xl.hr--line

#advantages.container-lg

  h2 Преимущества
  hr
  include ../../components/projects.detail/advantages
  
hr.hr--lg

#location.container-lg

  h2 Расположение
  
  include ../../components/projects.detail.map/template
    
hr.hr--xl.hr--line
hr.hr--lg

#filter

  .b-switch-block
      
    .container-lg.text-right
    
      .b-switch
        span Цены
        span Шахматка
        
      hr

    .b-filter-chess__tabs

      .b-filter-chess__tab
        include ../../components/filter/template
      .b-filter-chess__tab( data-url="/components/projects.detail/chess.html" data-method="GET" )

  hr.d-block.d-sm-none
      
  .b-switch-block

    .container-lg.text-right
    
      .b-switch
        span Цены
        span Шахматка
        
      hr

    .b-filter-chess__tabs

      .b-filter-chess__tab
        include ../../components/filter/template
      .b-filter-chess__tab( data-url="/components/projects.detail/chess.html" data-method="GET" )

hr.hr--xl.hr--line

#hypothec.container-lg

    h2 Ипотека
      a.small( href="" ) Рассчитать ипотеку

    include ../../components/hypothec-cards/template

hr.hr--xl.hr--line

#progress.container-lg

  h2 Ход строительства

  include ./progress

hr.hr--lg

#news.container-lg

  h2 Новости
    a.small( href="/pages/news/" ) Все новости

  include ../../components/news/three-cols

hr.hr--lg

#docs.container-lg

  include ../../components/projects.detail/docs
          

// end /components/projects.detail/