// start /components/projects.detail/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'projects.detail'
else
  - var componentsArray = [ 'projects.detail' ]

include ../../components/gallery/gallery-2

hr.hr--lg

#advantages.container-lg

  h2 Преимущества
  hr
  include ../../components/projects.detail/advantages

hr.hr--lg

#docs.container-lg

  include ../../components/projects.detail/docs
  
hr.hr--lg

#location.container-lg

  h2 Расположение
  
  include ../../components/projects.detail.map/template
    
hr.hr--lg

//-include ../../components/filter/template
          

// end /components/projects.detail/