// start /components/gallery/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'gallery'
else
  - var componentsArray = [ 'gallery' ]
  
link( rel="stylesheet", href="/template/css/swiper.min.css" )
script( src="/template/js/swiper.min.js" )
  
.b-gallery.ph-block
      
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .b-gallery__img( style="background-image: url( '/upload/gallery/8.jpg' );" alt="" )
      .swiper-slide
        .b-gallery__img( style="background-image: url( '/upload/gallery/9.jpg' );" alt="" )
      .swiper-slide
        .b-gallery__img( style="background-image: url( '/upload/gallery/10.jpg' );" alt="" )
      .swiper-slide
        .b-gallery__img( style="background-image: url( '/upload/gallery/11.jpg' );" alt="" )
    .container-lg
      .swiper-button-prev( style="background-image: url( '/template/images/arrow-left-gallery.svg' );" )
      .swiper-button-next( style="background-image: url( '/template/images/arrow-right-gallery.svg' );" )
    .swiper-pagination

    .b-gallery__content
      .container-lg

        .b-gallery__heading Жилой комплекс<br>Некрасовский

        hr.hr--lg

        .b-gallery__notes

          .b-gallery__notes-item( style="background-image: url( '/template/images/hypothec-icon.svg' );" )
            b Ипотека 0%
            small от Сбербанка

          .b-gallery__notes-item( style="background-image: url( '/template/images/furnish-icon.svg' ); background-color: #622a55;" )
            b Отделка
            small Входит в стоимость

          .b-gallery__notes-item( style="background-image: url( '/template/images/furnish-icon.svg' ); background-color: #622a55;" )
            b Отделка
            small Входит в стоимость

          .b-gallery__notes-item( style="background-image: url( '/template/images/hypothec-icon.svg' );" )
            b Ипотека 0%
            small от Сбербанка
              
// end /components/projects/