// start /components/gallery/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'gallery'
else
  - var componentsArray = [ 'gallery' ]
  
.b-gallery.ph-block

  .ph
  
    .container-lg
    
      .ph__row

  .ph-content
      
    
              
// end /components/projects/