// start /components/gallery/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'gallery'
else
  - var componentsArray = [ 'gallery' ]
  
link( rel="stylesheet", href="/template/css/swiper.min.css" )
script( src="/template/js/swiper.min.js" )
  
.b-gallery.ph-block
      
  .swiper-container( data-delay="5000" )
    .swiper-wrapper

      .swiper-slide
        .b-gallery__img( style="background-image: url( '/upload/gallery/3.jpg' );" alt="" )
        .b-gallery__slide-content
          .container-lg
            .b-gallery__heading Акция: ипотека от 3%<br>ЖК Восточный
            hr.hr--lg
            a.btn.btn-primary( href="/pages/projects-detail/" ) Узнать подробнее

      .swiper-slide
        .b-gallery__img( style="background-image: url( '/upload/gallery/4.jpg' );" alt="" )
        .b-gallery__slide-content
          .container-lg
            .b-gallery__heading Акция: ипотека от 5%<br>ЖК Радужный
            hr.hr--lg
            a.btn.btn-primary( href="/pages/projects-detail/" ) Узнать подробнее

      .swiper-slide
        .b-gallery__img( style="background-image: url( '/upload/gallery/5.jpg' );" alt="" )
        .b-gallery__slide-content
          .container-lg
            .b-gallery__heading Акция: ипотека от 7%<br>ЖК Некрасовский
            hr.hr--lg
            a.btn.btn-primary( href="/pages/projects-detail/" ) Узнать подробнее

      .swiper-slide
        .b-gallery__img( style="background-image: url( '/upload/gallery/6.jpg' );" alt="" )
        .b-gallery__slide-content
          .container-lg
            .b-gallery__heading Акция: ипотека от 2%<br>ЖК Лермонтовский
            hr.hr--lg
            a.btn.btn-primary( href="/pages/projects-detail/" ) Узнать подробнее

      .swiper-slide
        .b-gallery__img( style="background-image: url( '/upload/gallery/7.jpg' );" alt="" )
        .b-gallery__slide-content
          .container-lg
            .b-gallery__heading Акция: ипотека от 0%<br>ЖК Малиновый ручей
            hr.hr--lg
            a.btn.btn-primary( href="/pages/projects-detail/" ) Узнать подробнее

    .container-lg
      .swiper-button-prev( style="background-image: url( '/template/images/arrow-left-gallery.svg' );" )
      .swiper-button-next( style="background-image: url( '/template/images/arrow-right-gallery.svg' );" )
    .swiper-pagination
            
// end /components/projects/