extends ../../layouts/main

block vars
  - var page = 'blocks-filter'
  - var authorized = 'true'
  
block title
  title Blocks | Filter | SPA

block content

  hr
    
  include ../../components/filter/template

  hr.hr--xl.hr--line
    
  include ../../components/filter/garage
    
    