footer.b-footer

  hr.hr--line.hr--xl

  .container-lg

    .row
      .col-3.d-none.d-md-block

        b
          a( href="" ) Проекты
        a( href="" ) ЖК «Восточный»
        a( href="" ) ЖК «Некрасовский»
        a( href="" ) ЖК «Радужный»
        a( href="" ) ЖК «Лермонтовский»
        a( href="" ) ЖК «Малиновый ручей»
        a( href="" ) Мкр. Ракитня

      .col-3.d-none.d-md-block

        b
          a( href="" ) О компании
        a( href="" ) Контакты
        a( href="" ) Политика конфиденциальности

      .col-3.d-none.d-md-block

        b
          a( href="" ) Покупателю
        a( href="" ) Ипотека
        a( href="" ) Документы

    hr.hr--xl.d-none.d-md-block

    .small Информационные материалы и цены, размещенные на сайте, не являются публичной офертой.<br>Все материалы сайта защищены законом и принадлежат ЗАО «Стройпромавтоматика» © 2017 г. Копирование материалов запрещено<br>ЗАО «Стройпромавтоматика»

    hr.hr--sm