meta( charset="utf-8" )
meta( name="keywords", content="")
meta( name="description", content="")
meta( name="viewport" content="width=device-width, initial-scale=1" )

meta( property="og:title" content="Стройпромавтоматика" )
meta( property="og:description" content="Стройпромавтоматика замыкает в себе абсолютно полный цикл Девелопера" )
meta( property="og:image" content="/template/images/spa-logo.svg" )
meta( property="og:type" content="company" )
meta( property="og:url" content= "http://spa-markup.2px.ru"  )