meta( charset="utf-8" )
meta( name="keywords", content="")
meta( name="description", content="")
meta( name="viewport" content="width=device-width, initial-scale=1" )

meta( property="og:title" content="Мэрилин Монро" )
meta( property="og:description" content="Американская киноактриса и певица" )
meta( property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Marilyn_Monroe_-_publicity.JPG/210px-Marilyn_Monroe_-_publicity.JPG" )
meta( property="og:type" content="profile" )
meta( property="og:url" content= "https://ru.wikipedia.org/wiki/Мэрилин_Монро"  )