extends ../../layouts/main

block vars
  - var page = 'blocks-banners'
  - var authorized = 'true'
  
block title
  title Blocks | Banners | SPA

block content

  include ../../components/gallery/template

  hr.hr--xl

  include ../../components/gallery/gallery-2

  hr.hr--xl

  include ../../components/inform-block/template

    
    