.b-form-hypothec

  &.ph-block
    position relative
  
  .ph
  
    &__form
      width 66.666667%
      height 482px
      margin 0 auto
      background-color $placeholder-color
      transition( opacity .5s ease )
      pointer-events none

    &__message
      width 66.666667%
      height 482px
      margin 0 auto
      background-color $placeholder-color
      transition( opacity .5s ease )
      pointer-events none
        
    &-content
      position absolute
      top 0
      left 0
      width 100%
      transition( opacity .5s ease )
      opacity 0
      z-index 0