.b-inform-block  
  height 615px
  overflow hidden
  position relative

  &.ph-block

    &:after
      content ''
      position absolute
      top 0
      left 0
      width 100%
      height 615px
      background-color $placeholder-color
      transition( opacity .5s ease )
      pointer-events none
      z-index 1