.b-projects-detail-map

  &.ph-block
    position relative
  
  .ph
    padding-bottom 8px
        
    &__map
      height 633px
      background-color $placeholder-color
      margin-bottom 42px

    &__signs
      height 21px
      background-color $placeholder-color
        
    &-content
      position absolute
      top 0
      left 0
      width 100%
      transition( opacity .5s ease )
      opacity 0
      z-index 0