// start /components/docs/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'docs'
else
  - var componentsArray = [ 'docs' ]

.b-docs.ph-block

  .ph

    .ph__item
    .ph__item
    .ph__item

    .ph__item
    .ph__item
    .ph__item
    
    .ph__item
    .ph__item
    .ph__item

  .ph-content

    .b-docs__wrapper
  
      a.b-docs__item( href="/pages/docs-detail/" )
        span.b-docs__icon( style="background-image: url( '/template/images/docs-icon.svg' );" )
        span.b-docs__text
          b Некрасовский
          span Все документы<br>жилого комплекса.
      
      a.b-docs__item( href="/pages/docs-detail/" )
        span.b-docs__icon( style="background-image: url( '/template/images/docs-icon.svg' );" )
        span.b-docs__text
          b Восточный
          span Все документы<br>жилого комплекса.
      
      a.b-docs__item( href="/pages/docs-detail/" )
        span.b-docs__icon( style="background-image: url( '/template/images/docs-icon.svg' );" )
        span.b-docs__text
          b Радужный
          span Все документы<br>жилого комплекса.
      
      a.b-docs__item( href="/pages/docs-detail/" )
        span.b-docs__icon( style="background-image: url( '/template/images/docs-icon.svg' );" )
        span.b-docs__text
          b Лермонтовский
          span Все документы<br>жилого комплекса.
      
      a.b-docs__item( href="/pages/docs-detail/" )
        span.b-docs__icon( style="background-image: url( '/template/images/docs-icon.svg' );" )
        span.b-docs__text
          b Малиновый ручей II
          span Все документы<br>жилого комплекса.
      
      a.b-docs__item( href="/pages/docs-detail/" )
        span.b-docs__icon( style="background-image: url( '/template/images/docs-icon.svg' );" )
        span.b-docs__text
          b Ракитня
          span Все документы<br>жилого комплекса.
      
      a.b-docs__item( href="/pages/docs-detail/" )
        span.b-docs__icon( style="background-image: url( '/template/images/docs-icon.svg' );" )
        span.b-docs__text
          b Малиновый ручей 1
          span Все документы<br>жилого комплекса.
      
      a.b-docs__item( href="/pages/docs-detail/" )
        span.b-docs__icon( style="background-image: url( '/template/images/docs-icon.svg' );" )
        span.b-docs__text
          b Восточный 7
          span Все документы<br>жилого комплекса.
      
      a.b-docs__item( href="/pages/docs-detail/" )
        span.b-docs__icon( style="background-image: url( '/template/images/docs-icon.svg' );" )
        span.b-docs__text
          b Южный
          span Все документы<br>жилого комплекса.

// end /components/docs/