extends ./layouts/main

block title
  title Pages list | SPA

block content

  hr

  .container-lg
    h1 Стройпромавтоматика
    
    h2 Блоки
    
    ul
      li
        a( href="/blocks/text/" ) Текст
      li
        a( href="/blocks/buttons/" ) Buttons
      li
        a( href="/blocks/banners/" ) Баннеры и галереи
      li
        a( href="/blocks/calculator/" ) Ипотечный калькулятор
        
    h2 Страницы
    
    ul
      li
        a( href="/pages/main/" ) Main page
      li
        a( href="/pages/projects/" ) Проекты
      li
        a( href="/pages/projects-detail/" ) Проект детально
      li
        a( href="/pages/flat-detail/" ) Квартира детально
      li
        a( href="/pages/form-flat/" ) Форма бронирования квартиры
      li
        a( href="/pages/docs/" ) Документы
      li
        a( href="/pages/docs-detail/" ) Документы ЖК
      li
        a( href="/pages/hypothec/" ) Ипотека