extends ./layouts/main

block title
  title Pages list | SPA

block content

  .container
    h1 Стройпромавтоматика
    
    h2 Блоки
    
    ul
      li
        a( href="/blocks/text/" ) Текст
        
    h2 Страницы
    
    ul
      li
        a( href="/pages/main/" ) Main page
      li
        a( href="/pages/projects/" ) Проекты