@import '../vars.styl'
@import '../mixins.styl'

@import './scaff/gui.styl'
@import './scaff/header.styl'
@import './scaff/footer.styl'

@import './components/gallery.styl'
@import './components/inform-block.styl'
@import './components/cards.styl'
@import './components/hypothec-cards.styl'